#container {
    height: 300px;
    width: 300px;
    background-color: rgb(195, 255, 0);
    border: 2px solid black;
    display: grid;
    flex-wrap:initial;
    align-content:baseline;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
}

.saw{

    height: 40px; width: 40px;
    background-color: rgb(240, 136, 17);
    margin: 1px;
    border: 2px solid black;


}
#head{
    text-align: center;
    
    font-size: larger;
    font-weight: 100;
    font-display:initial;
    font-style: capital;
    text-transform:uppercase;
}
#box1 {
    background-color: red;
    
}

#box2 {
    background-color: yellow;
   

#box3 {
    background-color: blue;
}    

#box4 {
    background-color: rgb(31, 251, 31);
}