*{
margin: 0px; 
padding: 0px;
}nav a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

img{
    height: 50px;
}
#image{
    border: 4px solid; color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: rgb(171, 210, 30);
}
#container{
    height: 60px;
    width: 170px;
    border: 2px solid rgb(186, 30, 30);
    justify-content: space-around;
    display: flex;
}
.box{
    height: 50px; 
    width: 50px;
    background-color: blueviolet;
    margin: 5px;
    justify-content: right;
    display: flexbox;
    border: 2px solid black;
}
#box{
    flex-shrink: 1px;
    flex-grow: 1px;

}